<header class="d-flex masthead" style="background-image:url();">
    <div class="container my-auto text-center">
        <h1 class="mb-1">Urban Dictionary</h1>
        <h3 class="mb-5"><em>Безкоштовний довідник українських слів</em></h3><a class="btn btn-primary btn-lg text-capitalize btn-xl js-scroll-trigger" role="button" href="#about">Спробувати зараз</a>
        <div class="overlay"></div>
    </div>
</header>

<app-random-word-component></app-random-word-component>
<app-top-words-component></app-top-words-component>
<app-add-new-word-component></app-add-new-word-component>
<app-sign-up-component></app-sign-up-component>
<app-footer-component></app-footer-component>
